.container-addReview {
  flex: 5;
}
.form-addReview {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
}
.modal-field {
  margin: 0.25rem;
  padding: 1rem;
}

.modal__addbutton {
  display: block;
}

.form-addReview > input {
  border: none;
  border-radius: 0.15rem;
}
.form-addReview > label {
  font-weight: bold;
  margin: 0.25rem 0 0.4rem 0.2rem;
  color: white;
}

.form-addReview > textarea {
  border: none;
  border-radius: 0.15rem;
  min-width: 100%;
  padding: 5rem;
}
.form-addReview > button {
  width: 250px;
  margin: 1rem auto;
  padding: 1rem;
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  background-color: $buttons-color;
  font-weight: bold;
}
