.login-container {
  flex: $flex-coontainer-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container > input {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

.login-container > button {
  padding: 0.5rem;
  width: 190px;
  border: none;
  margin: 7.5px 0 7.5px 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.login-container > label {
  font-weight: bold;
}

.loginButton {
  background-color: $buttons-color;
}

.loginText {
  margin-top: 1rem;
}
.loginText a {
  text-decoration: none;
  font-weight: bold;
}
