.container-modal {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.modal-field {
  margin: 0.25rem;
  padding: 1rem;
}

.text-area {
  padding: 5rem;
  max-width: 610px;
}

.modal__addbutton {
  display: block;
}
