* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ede0d4;
  margin: 0 auto;
}

.review-container {
  flex: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.single-review {
  padding: 3rem;
  margin: 1rem;
  background: coral;
}

.reviews-grid__button {
  padding: 0.75rem;
  border-radius: 5px;
  border: 0;
}

@media (max-width: 600px) {
  .review-container {
    grid-template-columns: 1fr !important;
  }
}
