* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ede0d4;
  width: 1600px;
  margin: 0 auto;
}

.review-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.single-review {
  padding: 3rem;
  margin: 1rem;
  background: coral;
}
