* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
  margin: 0 auto;
}

.review-container {
  flex: $flex-coontainer-width;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.single-review {
  padding: 2rem;
  margin: 1rem;
  background: $single-review-color;
  border-radius: 5px;
}
.reviewGridHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.singleReviewAuthor {
  margin-bottom: 0.25rem;
}
.singleReviewStarsContainer {
  margin-top: 0.25rem;
}
.singleReviewTitle {
  font-weight: bold;
  font-size: 2rem;
}

.singleReviewItem {
  display: flex;
  align-items: center;
}

.labelForItem {
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.star-icon {
  color: white;
  font-size: 1.5rem;
}

.reviews-grid__button {
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.single-review > a {
  text-decoration: none;
}
.addFirstReview {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .review-container {
    grid-template-columns: 1fr !important;
  }
}
