.singleReview {
  flex: $flex-coontainer-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleReviewContainer {
  width: 50%;
  background-color: $light-background;
  border-radius: 5px;
  padding: 2rem;
}

.singleReviewH1 {
  font-size: 2.5rem;
  text-decoration: underline;
  color: white;
}

.goBackIcon {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.singleReviewHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $sidebar-color;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem;
}

.deleteIcon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.singleReviewItemContainer {
  background: $single-review-info;
  padding: 2rem;
}
.singleReviewInfoItem {
  display: flex;
  align-items: center;
}

.singleReviewInfoItem > span {
  font-weight: bold;
}
.singleReviewInfo {
  margin: 0.55rem;
  font-size: 1.25rem;
}
